/*Estilos del navegador*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #00867d;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    padding-left: 5%;
    padding-right: 5%;
}

.logo {
    width: 70%;

}

.carritoIcono {
    width: 60%;
}

.cantidadEnCarrito{
    padding-left: 15px;
    font-weight: bold;
    font-size: large;
}


.cantidadProducto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorCarro{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    border-radius: 50%;
    padding-left: 25px;
    padding-top: 10px;
    border: solid black 2px;
}

/*--------------Estilos del index.--------------------------------------------*/



.botonBuscar {
    background-color: gray;
}


body {
    text-transform: uppercase;
    background-color: #82e9de;

}

h1 {
    margin-top: 10px;
    font-weight: bold;
}

main {
    margin-left: 5%;
    padding-bottom: 3%;
    margin-right: 5%;

}

.mainPrincipal h2 {
    margin-bottom: 30px;
    text-decoration: underline;

}

.mainPrincipal {
    text-align: center;
}





.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card-title{
    font-size: 100%;
}




.card {
    width: 70%;

    background-color: #4db6ac;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*--------Estilos del carrito-----------------------------------------------------*/

.mainCarrito {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.mainCarrito h1 {
    text-align: center;
    text-decoration: underline;
}


.productoCarrito {
    display: grid;
    grid-template-columns: 20% 80%;
    border: black 1px groove;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    background-color: #4db6ac;

}



.espacioCerrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenCarrito {
    width: 50%;
}

.descripcionCarrito {
    display: grid;
    grid-template-columns: 60% 20% 10% 10%;
}

.modificadorCantidad{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
}

.aumentador{
    cursor: pointer;
}

.disminuidor{
    cursor: pointer;
}

.descripcionCarrito div .tituloProducto {
    width: 100%;
}



.contenedorVacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 3px;
}



.contenedorBotonFinalizar {
    border-top: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#botonFinalizar {

    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
}

#precioTotal {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-top: solid black 2px;

}

#precioTotal p {
    font-size: x-large;
    text-decoration: underline;
}

/*----------------------Estilos del footer-----------*/

footer {

    padding-right: 5%;
    padding-left: 5%;

    background-color: #00867d;
    background-color: #afc2cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0px 5px 5px 5px black;
}

footer div {
    margin-top: 10px;
}

.icono {
    width: 50px;
    height: 50px;
}

@media only screen and (min-width: 760px){
    #listaProductos {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-content: center;
        grid-row-gap: 20px;
    }

    .card-text{
        font-size: 100%;
    }

    .mensajeVacio {
        font-size: 15vh;
        text-decoration: #000000;
        text-align: center;
        
    }

}

@media only screen and (max-width: 759px){
    #listaProductos {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: center;
        grid-row-gap: 20px;
    }

    .card-text{
        font-size: 70%;
    }

    .descripcionCarrito div .tituloProducto {
        font-size: 100%;
    }

    .cantidadCarrito{
        font-size: 50%;
    }


}
